/* font-Inter 400 - 700*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Colors y fuente*/
:root {
    --dark-blue-400: #0A3871;
    --ligth-blue:#E5E5E5;
    --gray: #495057;
    --white: #FFFFFF;
    --main-font: 'Inter', sans-serif;
}

/* Reset stylesheet  y bacground color*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--ligth-blue);
   
}

/* Formateando titulos y parrafos */
h2, 
p {
    margin: 0;
    font-family: var(--main-font);
}

/* Contenedor general */
.wrapper {
    padding: 1rem 1rem;
    width: 375px;
    height: auto;   
}
/* Header */
.header {
    width: 343px;
    height: 96px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-mobile {
    width: 2rem;
}

/* Area de ingreso de texto para ser encriptado */
.encrypted-textarea > textarea {
    width: 100%;
    height: 3rem;
    border:none;
    margin: 3.3rem 0 9rem ;
    font-size: 1.75rem;
    line-height: 3rem;
    cursor: text;
    font-family: var(--main-font);
}

::placeholder {
    color: var(--dark-blue-400);
}

/* mensaje de condicion */
.condition-sms {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.condition-icon {
    width: 1rem;
    height: 1rem;
}

.condition-description {
    font-size: 0.75rem;
    align-items: center;
    color: var(--gray);
}

.button {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 343px;
    margin-bottom: 4rem;
    
}

.button > button {
    font-size: 1.12rem;
    height: 4.18rem;
    border-radius: 2rem;
    border: var(--dark-blue-400) solid 1.5px;
    cursor: pointer;
}

.main-button {
    background-color: var(--dark-blue-400);
    color: var(--white);
}

.decrypten-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.warning-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    height: auto;
}

.warning-des, 
.warning-title {
    background-color: var(--white);
    text-align: center;
    padding: 0.5rem;
    color: #343A40;
}

.copy-button {
    /* display: none; */
    font-size: 1.12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    border-radius: 2rem;
    border: var(--white) solid 1.5px;
    cursor: pointer;
}

footer p {
    text-align: center;
}