
/* Colors y fuente*/
:root {
    --dark-blue-400: #0A3871;
    --ligth-blue:#E5E5E5;
    --gray: #D8DFE8;
    --white: #FFFFFF;
    --main-font: 'Inter', sans-serif;
}

/* Reset stylesheet  y bacground color*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--ligth-blue);
    max-width: 1440px;
}

/* Formateando titulos y parrafos */
h2, 
p {
    margin: 0;
    font-family: var(--main-font);
}


.logo-alura {
    width: 5%;
    margin-top: 40px;
    margin-left: 40px;
}

main,
footer {
    font-family: var(--main-font);
    display: flex;
    margin-left: 240px;
}

.contenedor-textarea {
    width: 680px;
}

.textarea {
    width: auto;
    margin-top:80px;
    border: none;
    color: var(--dark-blue-400);
    height: 635px;
    text-transform: lowercase;
}

::placeholder {
    color: var(--dark-blue-400);
    font-size: 20px;
}

.textarea:focus {
    outline: none;
}

.informacion {
    display: flex;
    gap: 7px;
}

.botones {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn-encriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-size: 16px;
    background-color: var(--dark-blue-400);
    color: var(--white);
    border: var(--dark-blue-400) 1px solid;
    cursor: pointer;
}


.btn-desencriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-size: 16px;
    background-color: var(--gray);
    color: var(--dark-blue-400);
    border: var(--dark-blue-400) 1px solid;
    cursor: pointer;
}

.contenedor-mensaje {
    width: 400px;
    margin: 0px 10px 0px 80px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 32px;

}

.contenedor-mensaje > h2{
    width: auto;
    padding: 20px;
    margin-top: 550px;
    background-color: var(--white);
    font-size: 32px;
    color: #343A40;
    text-align: center;
}
.contenedor-mensaje > p {
    background-color: var(--white);
    padding-left: 2px;
    text-align: center;
    text-decoration: underline;
}

.mensaje {
    width: 346px;
    height: 550px;
    /* margin-top: 32px; */
    /* margin-bottom: 32px; */
    border: none;
    border-radius: 32px;
    background:var(--white);
    background-image: url(./imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: 50%;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.contenedor-btn-copiar {
    background-color: var(--white);
}

.btn-copiar {
    display:none;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-size: 16px;
    background-color: var(--white);
    color: var(--dark-blue-400);
    border: var(--dark-blue-400) 1px solid;
    margin-top: 48px;
    cursor: pointer;
}